<!-- Hero Section -->
<app-hero-section></app-hero-section>

<!-- Stats Section -->
<app-stats-section></app-stats-section>

<!-- About Section -->
<app-about-section></app-about-section>

<!-- Experience Section -->
<app-experience-section></app-experience-section>

<!-- Hard Skills Section -->
<app-hard-skills-section></app-hard-skills-section>

<!-- Projects Section -->
<app-projects-section></app-projects-section>

<!-- Soft Skills Section -->
<app-soft-skills-section></app-soft-skills-section>

<!-- Community Engagement Section -->
<app-community-engagement></app-community-engagement>

<!-- Certifications Section -->
<app-certification-section></app-certification-section>

<!-- Education Section -->
<app-education-section></app-education-section>

<!-- Language Section -->
<app-language-section></app-language-section>

<!-- Contact Section -->
<app-contact-section></app-contact-section> 